{% load static %}
<div class="card border-0">
	<div class="card-header rounded-0 text-white text-left pt-2 pb-0 background-principal">
		<h4>Información para la planeación</h4>
	</div>

    <div class="card card-body border-0 mb-1 pb-0">
        <div class="row">
            <div class="col-sm-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                I. MARCO JURIDICO
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for documento in docs1 %}
                                        {% if documento.archivo %}
                                        <li><a href="{% get_media_prefix %}{{ documento.archivo }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% elif documento.url %}
                                            <li><a href="{{ documento.url }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                II. DOCUMENTOS DE REFERENCIA
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for documento in docs2 %}
                                        {% if documento.archivo %}
                                        <li><a href="{% get_media_prefix %}{{ documento.archivo }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% elif documento.url %}
                                            <li><a href="{{ documento.url }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                III. PLANES Y PROGRAMAS
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for documento in docs3 %}
                                        {% if documento.archivo %}
                                        <li><a href="{% get_media_prefix %}{{ documento.archivo }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% elif documento.url %}
                                            <li><a href="{{ documento.url }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                IV. INFORMACION MUNICIPAL
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for documento in docs4 %}
                                        {% if documento.archivo %}
                                        <li><a href="{% get_media_prefix %}{{ documento.archivo }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% elif documento.url %}
                                            <li><a href="{{ documento.url }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                V. FUENTES DE INFORMACION
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ol>
                                    {% for documento in docs5 %}
                                        {% if documento.archivo %}
                                        <li><a href="{% get_media_prefix %}{{ documento.archivo }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% elif documento.url %}
                                            <li><a href="{{ documento.url }}" target="_blank">
                                                {{ documento.etiqueta }}
                                            </a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
